/* On screens that are 300px or less, set the background color to red */
@media only screen and (max-width: 300px) {
    body {
      background-color: red;
    }
    
    #small {
      display:block;

            h2{
              text-align:center;
              font-size:1rem;
            }

            p{
              text-align:justify;
              font-size: 0.75 rem;
            }
    }

    #medium,
    #large {
      display:hide;
    }
  }

