@import "300.scss";
@import "768.scss";

body{
    background-color:blue;
}

  #small,
  #medium {
    display:hide;
  }

  #large{

        h2 {
            text-align:left;
            font-size:30 em;
        }

        p {
            text-align:right;
            font-size:1 rem;
        }
  }
