@import "_300.scss";
@import "_768.scss";

body{
    background-color:blue;
}

h2 {
    text-align:center;
    font-size:2 rem;
}
p {
    text-align:justify;
    font-size:1 rem;
}

#small, 
#medium {
    display:none;
}



  
